<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="jquery.min.js"></script>
      <script src="angular.min.js"></script>
      <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="myApp" ng-controller="myCtrl" ng-init="genExp()">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand-img" href="#"><img alt="Brand" width="40" height="40" src="sheep.png" /></a>
            <a class="navbar-brand" href="#">Brain Trainer</a>
          </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Math Training <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Physics Training</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://www.github.com/mishavetl/">Created By Michael Vietluzhskih</a></li>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
        <ul class="nav nav-pills">
          <li role="presentation" class="{{ get_game_class() }}"><a ng-click="game()" href="">Game</a></li>
          <li role="presentation" class="{{ get_options_class() }}"><a ng-click="options()" href="">Options</a></li>
        </ul>
        <div ng-show="is_game">
          <h3 class="inline-block">{{ get_exp() }}</h3>
          <br /><div>
            <button type="button" ng-click="minus_answer()" class="btn btn-default inline-block">{{ get_minus_button_text() }}</button>
            <input type="number" id="focus" ng-keyPress="check_enter($event)" ng-model="user_answer" step="0.01" class="form-control inline-block {{ get_input_class() }}" placeholder="Enter your answer" required>
            <button type="button" ng-click="check_answer()" class="btn btn-default inline-block">Check</button>
          </div>
          <br />
          <div>
            <button type="button" ng-click="show_answer()" class="btn btn-default inline-block">{{ get_show_btn_text() }} Answer</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <h4 class="inline-block" ng-show="answer_is_show">{{ answer }}</h4>
          </div>
        </div>
        <div ng-show="is_options">
          <h3 class="inline-block">From&nbsp;&nbsp;</h3>
          <input type="number" class="form-control inline-block" ng-keyPress="save_changes()" ng-model="from"/>
          <br />
          <h3 class="inline-block">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
          <input type="number" class="form-control inline-block" ng-keyPress="save_changes()" ng-model="to"/>
        </div>
        <script src="mainCtrl.js"></script>

        <footer>
          <span>Copyright &copy; 2015 by Michael Vietluzhskih</span>
        </footer>
      </div>
    </body>
</html>
